main {
  flex: 1;
}

main ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
  list-style: none;
  margin-left: 1.5em;
}

li.dev-item {
  background-color: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1.5em;
}

li.dev-item header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.dev-item header .user-info {
  margin-left: 1em;
}

.user-info h1 {
  display: block;
  font-size: 1em;
  color: #333;
}

.user-info span {
  font-size: 0.8em;
  color: #999;
  margin-top: 2px;
}

li.dev-item p {
  color: #666;
  font-size: 0.9em;
  line-height: 1.3em;
  margin: 0.6em 0;
}

li.dev-item img {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
}

li.dev-item a {
  color: #8e4dff;
  font-size: 0.9em;
  text-decoration: none;
}

li.dev-item a:hover {
  color: #5a2ea6;
}

@media screen and (max-width: 1045px) {
  main ul {
    grid-template-columns: repeat(1, 1fr);
  }

  li.dev-item {
    width: 35em;
  }
}

@media screen and (max-width: 950px) {
  main ul {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0;
  }

  li.dev-item {
    width: 25em;
  }
}

@media screen and (max-width: 865px){
    main ul {
        grid-template-columns: repeat(1, 1fr);
    }
}
